In [10]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re

In [2]:
html_doc = 'http://house.speakingsame.com/suburbtop.php?sta=wa&cat=Median+household+income&name=Weekly+income'
soup = BeautifulSoup(urlopen(html_doc), "html.parser")

In [3]:
table = soup.find(lambda tag: tag.name == 'table' and tag.has_attr('id') and tag['id'] == "mainT")
rows = table.findAll(lambda tag: tag.name == 'tr')[42:92]

In [7]:
incomes = []
for i in rows:
    incomes.append(i.get_text())

In [38]:
incomes[0][2:].split("$")

['City Beach', '2,576']

In [39]:
re.search("10", incomes[0][2:])

In [40]:
txt = "22Carramar$1,757"

In [44]:
txt = txt.split("$")

In [47]:
suburb = txt[0]

In [48]:
re.sub(r'[0-9]+', '', suburb)

'Carramar'

In [49]:
locations = []
income = []

In [50]:
for i in rows:
    locations.append(i.get_text(" ")[3:-7].strip())
    income.append(i.get_text(" ")[-5:].replace(',', ''))

In [56]:
weekly_incomes = zip(locations,income)

In [59]:
print(tuple(weekly_incomes))

(('City Beach', '2576'), ('Cottesloe', '2519'), ('Peppermint Grove', '2519'), ('Crawley', '2217'), ('Dalkeith', '2217'), ('Nedlands', '2217'), ('Burns Beach', '2079'), ('Currambine', '2079'), ('Iluka', '2079'), ('Kinross', '2079'), ('Duncraig', '1960'), ('Leederville', '1927'), ('West Leederville', '1927'), ('Darlington', '1923'), ('Canning Vale', '1917'), ('Willetton', '1917'), ('Daglish', '1889'), ('Shenton Park', '1889'), ('Subiaco', '1889'), ('Bull Creek', '1884'), ('Leeming', '1884'), ('Atwell', '1850'), ('Aubin Grove', '1850'), ('Beeliar', '1850'), ('South Lake', '1850'), ('Success', '1850'), ('Yangebup', '1850'), ('Claremont', '1843'), ('Mount Claremont', '1843'), ('Kensington', '1842'), ('South Perth', '1842'), ('East Fremantle', '1838'), ('Applecross', '1832'), ('Ardross', '1832'), ('Brentwood', '1832'), ('Mount Pleasant', '1832'), ('Kingsley', '1820'), ('Woodvale', '1820'), ('Parkerville', '1818'), ('East Perth', '1814'), ('Bateman', '1783'), ('Winthrop', '1783'), ('Brigadoon', '1774'), ('Ellenbrook', '1774'), ('The Vines', '1774'), ('Floreat', '1759'), ('Jolimont', '1759'), ('Wembley', '1759'), ('Banksia Grove', '1757'), ('Carramar', '1757'))